USE [RBACV1]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/3/2019 5:52:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAmtPaid]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAmtPaid](
	[CustomerAmtPaidID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerAmtPaidRefID]  AS ('EMSE'+right('00000'+CONVERT([varchar](6),[CustomerAmtPaidID]),(6))) PERSISTED,
	[EventInfoID] [bigint] NULL,
	[Ammount] [money] NOT NULL,
	[DateOfPaid] [datetime] NOT NULL,
	[Particular] [varchar](250) NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerAmtPaidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeLeave]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLeave](
	[EmployeeLeaveID] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [bigint] NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[LeaveID] [bigint] NOT NULL,
	[LeaveValue] [varchar](100) NOT NULL,
	[NoOfDays] [int] NOT NULL,
	[Comments] [varchar](200) NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeLeaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode]  AS ('RSEM'+right('0000'+CONVERT([varchar](4),[EmployeeID]),(4))) PERSISTED,
	[FirstName] [varchar](100) NOT NULL,
	[MiddleName] [varchar](100) NULL,
	[SurName] [varchar](100) NOT NULL,
	[Address] [varchar](400) NULL,
	[MobileNumber] [varchar](15) NULL,
	[AlternateMobile] [varchar](15) NULL,
	[DOB] [datetime] NULL,
	[CivilStatus] [bigint] NOT NULL,
	[CivilStatusValue] [varchar](20) NULL,
	[Gender] [bigint] NOT NULL,
	[GenderValue] [varchar](10) NULL,
	[BloodType] [bigint] NULL,
	[BloodTypeValue] [varchar](5) NULL,
	[Proof] [bigint] NULL,
	[ProofValue] [varchar](100) NULL,
	[UniqueID] [varchar](25) NULL,
	[PackageAmmount] [money] NOT NULL,
	[Experience] [int] NOT NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[DOJ] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventExpenses]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventExpenses](
	[EventAmmountID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventAmmountRefID]  AS ('REV'+right('0000000'+CONVERT([varchar](7),[EventAmmountID]),(7))) PERSISTED,
	[EventInfoID] [bigint] NULL,
	[Ammount] [money] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventAmmountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventInfo]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventInfo](
	[EventInfoID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventRefID]  AS ('EMS'+right('0000000'+CONVERT([varchar](7),[EventInfoID]),(7))) PERSISTED,
	[CustomerName] [varchar](100) NOT NULL,
	[MobileNo] [varchar](15) NOT NULL,
	[AlternateMobileNo] [varchar](15) NULL,
	[EventType] [bigint] NOT NULL,
	[EventTypeValue] [varchar](200) NOT NULL,
	[EventStartDate] [datetime] NULL,
	[EventEndDate] [datetime] NULL,
	[Venue] [nvarchar](500) NOT NULL,
	[Manager] [varchar](100) NULL,
	[ManagerMobile] [varchar](15) NULL,
	[TotalPrice] [money] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[Status] [bit] NOT NULL,
	[IsConfirm] [bit] NOT NULL,
	[IfFNF] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventItem]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventItem](
	[EventItemID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventInfoID] [bigint] NOT NULL,
	[CategoryID] [bigint] NOT NULL,
	[CategoryValue] [varchar](150) NULL,
	[ItemName] [varchar](150) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[Description] [varchar](300) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventItemsTaxDet]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventItemsTaxDet](
	[EventItemsTaxDetId] [bigint] IDENTITY(1,1) NOT NULL,
	[EventInfoID] [bigint] NULL,
	[Subtotal] [decimal](18, 0) NOT NULL,
	[tax] [decimal](18, 0) NULL,
	[TaxAmount] [decimal](18, 0) NULL,
	[GrandTotal] [decimal](18, 0) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventItemsTaxDetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ExpenseID] [bigint] IDENTITY(1,1) NOT NULL,
	[ExpenseRefID]  AS ('EXP'+right('0000000'+CONVERT([varchar](7),[ExpenseID]),(7))) PERSISTED,
	[Particular] [bigint] NOT NULL,
	[ParticularValue] [varchar](100) NOT NULL,
	[BillRefNo] [varchar](50) NULL,
	[Ammount] [money] NOT NULL,
	[ExpenseDate] [datetime] NOT NULL,
	[SubmissionDate] [datetime] NOT NULL,
	[Description] [varchar](200) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListEntries]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListEntries](
	[ListEntryID] [bigint] IDENTITY(1,1) NOT NULL,
	[ListEntryName] [nvarchar](50) NOT NULL,
	[ListEntryDescription] [nvarchar](100) NULL,
	[EntryType] [nvarchar](20) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_ListEntries] PRIMARY KEY CLUSTERED 
(
	[ListEntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListValues]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListValues](
	[ListValueID] [bigint] IDENTITY(1,1) NOT NULL,
	[ListEntryID] [bigint] NOT NULL,
	[ListValueName] [nvarchar](100) NOT NULL,
	[EntryType] [nvarchar](20) NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_ListValues] PRIMARY KEY CLUSTERED 
(
	[ListValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LNK_ROLE_PERMISSION]    Script Date: 2/3/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LNK_ROLE_PERMISSION](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LNK_ROLE_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LNK_USER_ROLE]    Script Date: 2/3/2019 5:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LNK_USER_ROLE](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LNK_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSIONS]    Script Date: 2/3/2019 5:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSIONS](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.PERMISSIONS] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 2/3/2019 5:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[IsSysAdmin] [bit] NOT NULL,
	[RoleDescription] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.ROLES] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryPaid]    Script Date: 2/3/2019 5:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryPaid](
	[SalaryPaidID] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [bigint] NULL,
	[PaidMonth] [datetime] NOT NULL,
	[Salary] [money] NOT NULL,
	[Incentives] [money] NULL,
	[Bonous] [money] NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[EmployeeCode] [varchar](8) NOT NULL,
	[Description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryPaidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2/3/2019 5:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[Inactive] [bit] NOT NULL,
	[Firstname] [nvarchar](max) NULL,
	[Lastname] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[IsInternal] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.USERS] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 2/3/2019 5:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorID] [bigint] IDENTITY(1,1) NOT NULL,
	[VendorCode]  AS ('RSEMV'+right('0000'+CONVERT([varchar](4),[VendorID]),(4))) PERSISTED,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[SurName] [varchar](100) NULL,
	[MobileNo] [varchar](15) NULL,
	[AlternateMobileNo] [varchar](15) NULL,
	[Address] [varchar](400) NULL,
	[ProofValue] [varchar](100) NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[Organization] [varchar](200) NULL,
	[Proof] [bigint] NULL,
	[UniqueID] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorAmmountPaid]    Script Date: 2/3/2019 5:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorAmmountPaid](
	[VendorAmmountPaidID] [bigint] IDENTITY(1,1) NOT NULL,
	[BillNo]  AS ('RSEM'+right('000000'+CONVERT([varchar](6),[VendorAmmountPaidID]),(6))) PERSISTED,
	[VendorEventID] [bigint] NOT NULL,
	[Particular] [varchar](250) NOT NULL,
	[Description] [varchar](250) NULL,
	[AmmountPaid] [money] NOT NULL,
	[PaidDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorAmmountPaidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorEvents]    Script Date: 2/3/2019 5:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorEvents](
	[VendorEventID] [bigint] IDENTITY(1,1) NOT NULL,
	[VendorID] [bigint] NOT NULL,
	[EventInfoID] [bigint] NOT NULL,
	[Ammmount] [money] NOT NULL,
	[ProgramDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[EventInfoIDValue] [varchar](20) NULL,
	[IsSettled] [bit] NULL,
	[Description] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomerAmtPaid] ON 

INSERT [dbo].[CustomerAmtPaid] ([CustomerAmtPaidID], [EventInfoID], [Ammount], [DateOfPaid], [Particular], [Description], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Status]) VALUES (1, 1, 3500.0000, CAST(N'2019-02-20T00:00:00.000' AS DateTime), N'Advance', N'Event Advance', 0, CAST(N'2019-02-02T22:51:03.123' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[CustomerAmtPaid] ([CustomerAmtPaidID], [EventInfoID], [Ammount], [DateOfPaid], [Particular], [Description], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Status]) VALUES (2, 1, 4000.0000, CAST(N'2019-02-27T00:00:00.000' AS DateTime), N'Second payment', N'Secon Payment', 0, CAST(N'2019-02-02T22:54:37.873' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[CustomerAmtPaid] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[EventInfo] ON 

INSERT [dbo].[EventInfo] ([EventInfoID], [CustomerName], [MobileNo], [AlternateMobileNo], [EventType], [EventTypeValue], [EventStartDate], [EventEndDate], [Venue], [Manager], [ManagerMobile], [TotalPrice], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Status], [IsConfirm], [IfFNF]) VALUES (1, N'Mehata', N'9985034348', N'888578671', 15, N'Wedding', CAST(N'2019-01-07T00:00:00.000' AS DateTime), CAST(N'2019-01-07T00:00:00.000' AS DateTime), N'Hyd', N'KTR', N'8999000123', 3219426.0000, 0, CAST(N'2019-02-02T16:20:17.203' AS DateTime), 1, NULL, 1, 0, 0)
INSERT [dbo].[EventInfo] ([EventInfoID], [CustomerName], [MobileNo], [AlternateMobileNo], [EventType], [EventTypeValue], [EventStartDate], [EventEndDate], [Venue], [Manager], [ManagerMobile], [TotalPrice], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Status], [IsConfirm], [IfFNF]) VALUES (2, N'Balaji Naik', N'9966311434', N'9533292971', 16, N'Reception', CAST(N'2019-01-01T00:00:00.000' AS DateTime), NULL, N'Hyderabad', N'Srikanth', N'8777783677873', 123456.0000, 0, CAST(N'2019-01-26T20:04:07.703' AS DateTime), NULL, NULL, 1, 0, 0)
INSERT [dbo].[EventInfo] ([EventInfoID], [CustomerName], [MobileNo], [AlternateMobileNo], [EventType], [EventTypeValue], [EventStartDate], [EventEndDate], [Venue], [Manager], [ManagerMobile], [TotalPrice], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Status], [IsConfirm], [IfFNF]) VALUES (3, N'Sushmitha', N'8099950140', N'999999999999', 20, N'Cradle Ceremony', CAST(N'2019-01-31T00:00:00.000' AS DateTime), CAST(N'2019-01-31T00:00:00.000' AS DateTime), N'Hyderabad', N'Balaji', N'99663114343', 34000.0000, 0, CAST(N'2019-01-31T22:16:44.090' AS DateTime), NULL, NULL, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[EventInfo] OFF
SET IDENTITY_INSERT [dbo].[EventItem] ON 

INSERT [dbo].[EventItem] ([EventItemID], [EventInfoID], [CategoryID], [CategoryValue], [ItemName], [Quantity], [Price], [Description], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Status]) VALUES (2, 1, 7, N'Eatables', N'Food with Sweets and Teaa and Coffe', 10, 20.0000, N'The rowspan attribute is similar to colspan , except, obviously, it will span across rows rather than columns. Again, the cells that it spans should be removed.', 0, CAST(N'2019-01-27T21:38:05.897' AS DateTime), NULL, CAST(N'2019-01-27T21:43:56.327' AS DateTime), 1)
INSERT [dbo].[EventItem] ([EventItemID], [EventInfoID], [CategoryID], [CategoryValue], [ItemName], [Quantity], [Price], [Description], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Status]) VALUES (3, 1, 7, N'Eatables', N'Chacolate', 200, 20.0000, N'The number of rows or columns spanned by a cell is set by the rowspan and colspan attributes for the TH and TD elements. In this table definition,', 0, CAST(N'2019-01-27T21:43:56.330' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[EventItem] OFF
SET IDENTITY_INSERT [dbo].[EventItemsTaxDet] ON 

INSERT [dbo].[EventItemsTaxDet] ([EventItemsTaxDetId], [EventInfoID], [Subtotal], [tax], [TaxAmount], [GrandTotal], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (8, 1, CAST(3219426 AS Decimal(18, 0)), NULL, CAST(0 AS Decimal(18, 0)), CAST(3219426 AS Decimal(18, 0)), 0, CAST(N'2019-01-27T20:29:13.243' AS DateTime), NULL, CAST(N'2019-02-03T10:31:57.063' AS DateTime))
SET IDENTITY_INSERT [dbo].[EventItemsTaxDet] OFF
SET IDENTITY_INSERT [dbo].[Expenses] ON 

INSERT [dbo].[Expenses] ([ExpenseID], [Particular], [ParticularValue], [BillRefNo], [Ammount], [ExpenseDate], [SubmissionDate], [Description], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Status]) VALUES (1, 28, N'Current', N'CB1234', 570.0000, CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2019-01-17T00:00:00.000' AS DateTime), N'Current Bill for Office', 0, CAST(N'2019-01-12T09:42:39.017' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Expenses] ([ExpenseID], [Particular], [ParticularValue], [BillRefNo], [Ammount], [ExpenseDate], [SubmissionDate], [Description], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Status]) VALUES (2, 29, N'Petrol', N'PB876TG', 12000.0000, CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2019-01-09T00:00:00.000' AS DateTime), N'Petrol for Bikes', 0, CAST(N'2019-01-12T09:43:41.683' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Expenses] ([ExpenseID], [Particular], [ParticularValue], [BillRefNo], [Ammount], [ExpenseDate], [SubmissionDate], [Description], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Status]) VALUES (3, 30, N'Rent', N'RT567', 14000.0000, CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2019-01-09T00:00:00.000' AS DateTime), N'Rent for Office', 0, CAST(N'2019-01-12T09:44:32.667' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Expenses] OFF
SET IDENTITY_INSERT [dbo].[ListEntries] ON 

INSERT [dbo].[ListEntries] ([ListEntryID], [ListEntryName], [ListEntryDescription], [EntryType], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (4, N'Categories', N'Categories', N'System', 1, 1, CAST(N'2019-01-08T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[ListEntries] ([ListEntryID], [ListEntryName], [ListEntryDescription], [EntryType], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (6, N'EventType', N'Event Types handled by Managers', N'System', 1, 1, CAST(N'2019-01-08T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[ListEntries] ([ListEntryID], [ListEntryName], [ListEntryDescription], [EntryType], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (7, N'Entertainments', N'Entertainments Related', N'System', 1, 1, CAST(N'2019-01-09T22:38:51.790' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ListEntries] OFF
SET IDENTITY_INSERT [dbo].[ListValues] ON 

INSERT [dbo].[ListValues] ([ListValueID], [ListEntryID], [ListValueName], [EntryType], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (6, 4, N'Entertainments', N'System', 1, 1, CAST(N'2019-01-09T22:18:38.233' AS DateTime), NULL, NULL)
INSERT [dbo].[ListValues] ([ListValueID], [ListEntryID], [ListValueName], [EntryType], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (7, 4, N'Eatables', N'System', 1, 1, CAST(N'2019-01-09T22:18:51.770' AS DateTime), NULL, NULL)
INSERT [dbo].[ListValues] ([ListValueID], [ListEntryID], [ListValueName], [EntryType], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (8, 4, N'Lighting & Sound Systems', N'System', 1, 1, CAST(N'2019-01-09T22:19:18.857' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ListValues] OFF
INSERT [dbo].[LNK_ROLE_PERMISSION] ([RoleId], [PermissionId]) VALUES (2, 1)
INSERT [dbo].[LNK_ROLE_PERMISSION] ([RoleId], [PermissionId]) VALUES (4, 7)
INSERT [dbo].[LNK_ROLE_PERMISSION] ([RoleId], [PermissionId]) VALUES (4, 35)
INSERT [dbo].[LNK_USER_ROLE] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[LNK_USER_ROLE] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[LNK_USER_ROLE] ([UserId], [RoleId]) VALUES (4, 2)
SET IDENTITY_INSERT [dbo].[PERMISSIONS] ON 

INSERT [dbo].[PERMISSIONS] ([PermissionId], [PermissionDescription]) VALUES (1, N'Home-Reports')
INSERT [dbo].[PERMISSIONS] ([PermissionId], [PermissionDescription]) VALUES (2, N'Account-Login')
INSERT [dbo].[PERMISSIONS] ([PermissionId], [PermissionDescription]) VALUES (3, N'Account-OTP4PhoneVerification')
SET IDENTITY_INSERT [dbo].[PERMISSIONS] OFF
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([RoleId], [LastModified], [IsSysAdmin], [RoleDescription], [Name]) VALUES (1, CAST(N'2019-01-03T19:42:35.997' AS DateTime), 1, N'Allows system administration of Users/Roles/Permissions', N'System Administrator')
INSERT [dbo].[ROLES] ([RoleId], [LastModified], [IsSysAdmin], [RoleDescription], [Name]) VALUES (2, CAST(N'2019-01-04T15:27:49.517' AS DateTime), 0, N'Default role with limited permissions', N'Default User')
INSERT [dbo].[ROLES] ([RoleId], [LastModified], [IsSysAdmin], [RoleDescription], [Name]) VALUES (3, CAST(N'2019-01-04T12:20:47.430' AS DateTime), 0, N'Supervisor', N'Supervisor')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
SET IDENTITY_INSERT [dbo].[SalaryPaid] ON 

INSERT [dbo].[SalaryPaid] ([SalaryPaidID], [EmployeeID], [PaidMonth], [Salary], [Incentives], [Bonous], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [EmployeeCode], [Description]) VALUES (4, 1, CAST(N'2019-01-10T00:00:00.000' AS DateTime), 10000.0000, 200.0000, 400.0000, 1, 0, CAST(N'2019-01-14T15:57:45.887' AS DateTime), NULL, NULL, N'RSEM0001', N'Balaj Naik Data')
INSERT [dbo].[SalaryPaid] ([SalaryPaidID], [EmployeeID], [PaidMonth], [Salary], [Incentives], [Bonous], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [EmployeeCode], [Description]) VALUES (5, 1, CAST(N'2018-12-01T00:00:00.000' AS DateTime), 456000.0000, 0.0000, 0.0000, 1, 0, CAST(N'2019-01-14T16:08:37.410' AS DateTime), NULL, NULL, N'RSEM0001', N'ff')
INSERT [dbo].[SalaryPaid] ([SalaryPaidID], [EmployeeID], [PaidMonth], [Salary], [Incentives], [Bonous], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [EmployeeCode], [Description]) VALUES (6, 1, CAST(N'2019-02-01T00:00:00.000' AS DateTime), 10000.0000, 2000.0000, 3000.0000, 1, 0, CAST(N'2019-01-14T18:56:49.747' AS DateTime), NULL, NULL, N'RSEM0001', N'Total')
SET IDENTITY_INSERT [dbo].[SalaryPaid] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([UserId], [LastModified], [Inactive], [Firstname], [Lastname], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsInternal]) VALUES (1, CAST(N'2019-01-03T19:42:36.757' AS DateTime), 0, N'System', N'Administrator', N'bmudavu@issquaredinc.com', 1, N'AO5RtCgUX093jiRfEVmqrbYnx3B74u3xm8f79oPRNcpJoCG6uiX+GE0JjWSAuAKTFg==', N'ac882d55-1cf4-406e-aaac-c05003c29ff5', NULL, 0, 1, NULL, 0, 0, N'Admin', 0)
INSERT [dbo].[USERS] ([UserId], [LastModified], [Inactive], [Firstname], [Lastname], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsInternal]) VALUES (2, CAST(N'2019-01-04T12:48:21.317' AS DateTime), 0, N'Balaji', N'Naik', N'mbnaik.net@gmail.com', 1, N'AAip05xlM41U5Z3Re+kvxpzYq0MBo+y3aLo3BZkDKHLY1dVuBIwS7YJhaChb0RUMjg==', N'8d11c0ce-c9ee-4937-92cc-2b6be80f7941', NULL, 0, 0, NULL, 0, 0, N'Balaji', 0)
INSERT [dbo].[USERS] ([UserId], [LastModified], [Inactive], [Firstname], [Lastname], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsInternal]) VALUES (3, CAST(N'2019-01-04T13:21:32.547' AS DateTime), 0, N'Guest', N'User', N'guest@somedomain.com', 1, N'ACvWIs7XYUuwRfauZn3RSWcc9JLZPwIMxLSGralt7Btrno3ES2N0kE2uNwc5UhyX9A==', N'b59a9cf0-14db-439d-9fbd-3e1147c9e83e', NULL, 0, 0, NULL, 0, 0, N'Guest', 0)
SET IDENTITY_INSERT [dbo].[USERS] OFF
SET IDENTITY_INSERT [dbo].[Vendor] ON 

INSERT [dbo].[Vendor] ([VendorID], [FirstName], [LastName], [SurName], [MobileNo], [AlternateMobileNo], [Address], [ProofValue], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Organization], [Proof], [UniqueID]) VALUES (1, N'Balaji Naik', N'L', N'Lakavathu', N'9966311434', N'9533292971', N'Kukatpally', N'Aadhaar', 0, 0, CAST(N'2019-01-16T10:55:40.047' AS DateTime), NULL, NULL, NULL, 54, N'01234567890')
INSERT [dbo].[Vendor] ([VendorID], [FirstName], [LastName], [SurName], [MobileNo], [AlternateMobileNo], [Address], [ProofValue], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Organization], [Proof], [UniqueID]) VALUES (2, N'Benjoel', N'', N'Lakavath', N'9966311434', N'9533292971', N'Kukatpaaly,Hyderabad', N'Aadhaar', 1, 0, CAST(N'2019-01-16T10:59:49.443' AS DateTime), NULL, NULL, N'Benjoel Photography', 54, N'2345678')
INSERT [dbo].[Vendor] ([VendorID], [FirstName], [LastName], [SurName], [MobileNo], [AlternateMobileNo], [Address], [ProofValue], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [Organization], [Proof], [UniqueID]) VALUES (3, N'balaji naik', N'', N'm', N'1234567890', N'', N'kukatpally', N'Aadhaar', 0, 0, CAST(N'2019-01-17T13:58:22.040' AS DateTime), NULL, NULL, N'Issquared', 54, N'1234567890')
SET IDENTITY_INSERT [dbo].[Vendor] OFF
SET IDENTITY_INSERT [dbo].[VendorAmmountPaid] ON 

INSERT [dbo].[VendorAmmountPaid] ([VendorAmmountPaidID], [VendorEventID], [Particular], [Description], [AmmountPaid], [PaidDate], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, 15, N'First Installment', N'First install mentt', 3400.0000, CAST(N'2019-02-28T00:00:00.000' AS DateTime), 1, 0, CAST(N'2019-02-03T16:53:09.287' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[VendorAmmountPaid] OFF
SET IDENTITY_INSERT [dbo].[VendorEvents] ON 

INSERT [dbo].[VendorEvents] ([VendorEventID], [VendorID], [EventInfoID], [Ammmount], [ProgramDate], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [EventInfoIDValue], [IsSettled], [Description]) VALUES (1, 1, 1, 24000.0000, CAST(N'2019-02-27T00:00:00.000' AS DateTime), 1, 0, CAST(N'2019-01-16T12:40:03.087' AS DateTime), NULL, NULL, N'EMS0000001', NULL, NULL)
INSERT [dbo].[VendorEvents] ([VendorEventID], [VendorID], [EventInfoID], [Ammmount], [ProgramDate], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [EventInfoIDValue], [IsSettled], [Description]) VALUES (2, 1, 1, 45000.0000, CAST(N'2019-03-28T00:00:00.000' AS DateTime), 1, 0, CAST(N'2019-01-16T13:02:14.393' AS DateTime), NULL, NULL, N'EMS0000001', NULL, NULL)
INSERT [dbo].[VendorEvents] ([VendorEventID], [VendorID], [EventInfoID], [Ammmount], [ProgramDate], [Status], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [EventInfoIDValue], [IsSettled], [Description]) VALUES (3, 1, 1, 45678.0000, CAST(N'2019-01-30T00:00:00.000' AS DateTime), 1, 0, CAST(N'2019-01-16T13:03:32.023' AS DateTime), NULL, NULL, N'EMS0000001', NULL, NULL)
SET IDENTITY_INSERT [dbo].[VendorEvents] OFF
ALTER TABLE [dbo].[CustomerAmtPaid] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[EmployeeLeave] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [Experience]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[EventExpenses] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[EventInfo] ADD  DEFAULT ((0)) FOR [IsConfirm]
GO
ALTER TABLE [dbo].[EventInfo] ADD  DEFAULT ((0)) FOR [IfFNF]
GO
ALTER TABLE [dbo].[EventItem] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SalaryPaid] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [IsInternal]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VendorAmmountPaid] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VendorEvents] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VendorEvents] ADD  DEFAULT ((0)) FOR [IsSettled]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.USERS_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USERS] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.USERS_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.USERS_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USERS] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.USERS_UserId]
GO
ALTER TABLE [dbo].[CustomerAmtPaid]  WITH CHECK ADD FOREIGN KEY([EventInfoID])
REFERENCES [dbo].[EventInfo] ([EventInfoID])
GO
ALTER TABLE [dbo].[EmployeeLeave]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EventExpenses]  WITH CHECK ADD FOREIGN KEY([EventInfoID])
REFERENCES [dbo].[EventInfo] ([EventInfoID])
GO
ALTER TABLE [dbo].[EventItem]  WITH CHECK ADD FOREIGN KEY([EventInfoID])
REFERENCES [dbo].[EventInfo] ([EventInfoID])
GO
ALTER TABLE [dbo].[EventItemsTaxDet]  WITH CHECK ADD FOREIGN KEY([EventInfoID])
REFERENCES [dbo].[EventInfo] ([EventInfoID])
GO
ALTER TABLE [dbo].[ListValues]  WITH CHECK ADD  CONSTRAINT [FK_ListValues_ListEntries] FOREIGN KEY([ListEntryID])
REFERENCES [dbo].[ListEntries] ([ListEntryID])
GO
ALTER TABLE [dbo].[ListValues] CHECK CONSTRAINT [FK_ListValues_ListEntries]
GO
ALTER TABLE [dbo].[LNK_ROLE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LNK_ROLE_PERMISSION_dbo.PERMISSIONS_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[PERMISSIONS] ([PermissionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LNK_ROLE_PERMISSION] CHECK CONSTRAINT [FK_dbo.LNK_ROLE_PERMISSION_dbo.PERMISSIONS_PermissionId]
GO
ALTER TABLE [dbo].[LNK_ROLE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LNK_ROLE_PERMISSION_dbo.ROLES_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[ROLES] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LNK_ROLE_PERMISSION] CHECK CONSTRAINT [FK_dbo.LNK_ROLE_PERMISSION_dbo.ROLES_RoleId]
GO
ALTER TABLE [dbo].[LNK_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LNK_USER_ROLE_dbo.ROLES_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[ROLES] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LNK_USER_ROLE] CHECK CONSTRAINT [FK_dbo.LNK_USER_ROLE_dbo.ROLES_RoleId]
GO
ALTER TABLE [dbo].[LNK_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LNK_USER_ROLE_dbo.USERS_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USERS] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LNK_USER_ROLE] CHECK CONSTRAINT [FK_dbo.LNK_USER_ROLE_dbo.USERS_UserId]
GO
ALTER TABLE [dbo].[SalaryPaid]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[VendorAmmountPaid]  WITH CHECK ADD FOREIGN KEY([VendorEventID])
REFERENCES [dbo].[VendorEvents] ([VendorEventID])
GO
ALTER TABLE [dbo].[VendorEvents]  WITH CHECK ADD FOREIGN KEY([EventInfoID])
REFERENCES [dbo].[EventInfo] ([EventInfoID])
GO
ALTER TABLE [dbo].[VendorEvents]  WITH CHECK ADD FOREIGN KEY([VendorID])
REFERENCES [dbo].[Vendor] ([VendorID])
GO
